numpynumpynumpy

scipy

scikit-learnscipyscipy

torch

torchaudioscikit-learnlibrosa

soundfile

librosatorchscikit-learn

pytest

numbatorchaudiosoundfile

soundfilesounddevice

librosapytest
pytest
numba